<div class="container mt-5">

	<ng-container *ngIf="!api.auth.authenticated">
		<div class="alert alert-warning" role="alert">
			Error 401: you are not authenticated.
		</div>
	</ng-container>

	<ng-container *ngIf="api.auth.authenticated">

		<ng-container *ngIf="!city">
			<div class="alert alert-danger" role="alert">
				Error 404: that city does not exist.
			</div>
			<a [routerLink]="['../../']">Back to the home</a>
		</ng-container>

		<ng-container *ngIf="city">

			<!--<ng-container *ngIf="api.auth.userRoleForCity(city.id!)">
				<div class="alert alert-warning" role="alert">
					Error 403: you do not have the necessary permissions for this.
				</div>
			</ng-container>-->

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
					<li class="breadcrumb-item"><a [routerLink]="['/city', city.id]">{{ city.name }}</a></li>
					<li class="breadcrumb-item active">Create point</li>
				</ol>
			</nav>

			<h2>Create a point of interest for {{ city.name }}</h2>

			<form [formGroup]="form">
				<div class="mb-4">
					<label class="form-label" for="name">Name </label>
					<input type="text" class="form-control" id="name" placeholder="Point name" formControlName="name" required>
				</div>

				<div class="mb-4">
					<label class="form-label" for="description">Description </label>
					<textarea class="form-control" id="description" rows="4" placeholder="A description of the point" required></textarea>
				</div>

				<div class="form-group mb-4">
					<label class="form-label" for="coordinates">Coordinates </label>
					<div class="input-group mb-3" id="coordinates">
						<span class="input-group-text"><i class="bi bi-crosshair"></i></span>
						<input type="text" class="form-control" placeholder="Longitude" formControlName="longitude">
						<input type="text" class="form-control" placeholder="Latitude" formControlName="latitude">
						<input type="text" class="form-control" placeholder="Altitude (m)" formControlName="altitude">
					</div>
				</div>

				<div class="form-group mb-3">
					<label class="form-label" for="image-url">Media URL </label>
					<input type="text" class="form-control" id="image-url" formControlName="imageUrl" placeholder= "Enter the url of the image" required>
				</div>

				<div class="btn-group" role="group">
					<button type="button" class="btn btn-outline-danger" [routerLink]="['../']">Cancel</button>
					<button type="button" class="btn btn-primary" (click)="createPoint()" [disabled]="form.invalid">Create point</button>
				</div>

			</form>

		</ng-container>

	</ng-container>

</div>
