<!-- create-area.component.html -->
<div class="container mt-5">

	<ng-container *ngIf="!city">
		<div class="alert alert-danger" role="alert">
			Error 404: that city does not exist.
		</div>
		<a [routerLink]="['../../']">Back to the home</a>
	</ng-container>

	<ng-container *ngIf="city">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
				<li class="breadcrumb-item"><a [routerLink]="['/city', city.id]">{{city.name}}</a></li>
				<li class="breadcrumb-item active">Create Area</li>
			</ol>
		</nav>

		<h2>Create an area for {{city.name}}</h2>

		<form [formGroup]="form">
			<div class="form-group mb-3">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" formControlName="name" placeholder= "Enter the name of the area" required>
			</div>

			<div class="mb-3">
				<label for="description">Description</label>
				<textarea class="form-control" id="description" formControlName="description" rows="5" placeholder="Enter a description of the area" required></textarea>
			</div>

			<div class="form-group mb-3">
				<label for="image-url">Title</label>
				<input type="text" class="form-control" id="image-url" formControlName="imageUrl" placeholder= "Enter the url of the image" required>
			</div>

			<div class="btn-group" role="group">
				<button type="button" class="btn btn-outline-primary" (click)="createPoint()">Create point</button>
				<button type="button" class="btn btn-outline-danger" [routerLink]="['../']">Cancel</button>
			</div>

		</form>
	</ng-container>

</div>
