<!-- create-area.component.html -->
<div class="container mt-5">

	<ng-container *ngIf="!api.auth.authenticated">
		<div class="alert alert-warning" role="alert">
			Errore 401: non sei autenticato!
		</div>
	</ng-container>

	<ng-container *ngIf="api.auth.authenticated">

		<ng-container *ngIf="!city">
			<div class="alert alert-danger" role="alert">
				Errore 404: questa città non esiste!
			</div>
			<a [routerLink]="['../../']">Torna alla home</a>
		</ng-container>

		<ng-container *ngIf="city">

			<!--<ng-container *ngIf="api.auth.userRoleForCity(city.id!)">
				<div class="alert alert-warning" role="alert">
					Error 403: you do not have the necessary permissions for this.
				</div>
			</ng-container>-->

			<h2>Crea un'area per {{city.name}}</h2>

			<form [formGroup]="form">
				<div class="form-group mb-3">
					<label class="form-label" for="name">Nome</label>
					<input type="text" class="form-control" id="name" formControlName="name" placeholder= "Un nome esplicativo per l'area" required>
				</div>

				<div class="mb-3">
					<label class="form-label" for="description">Descrizione</label>
					<textarea class="form-control" id="description" formControlName="description" rows="5" placeholder="Una breve descrizione dell'area" required></textarea>
				</div>

				<div class="form-group mb-3">
					<label class="form-label" for="image-url">URL dell'immagine </label>
					<input type="text" class="form-control" id="image-url" formControlName="imageUrl" placeholder= "Link a un'immagine rappresentativa dell'area" required>
				</div>

				<div class="btn-group" role="group">
					<button type="button" class="btn btn-outline-danger" [routerLink]="['../']">Annulla</button>
					<button type="button" class="btn btn-primary" (click)="createPoint()" [disabled]="form.invalid">Crea Area</button>
				</div>

			</form>
		</ng-container>
	</ng-container>

</div>
