<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
	<div class="container-fluid">
		
		<a class="navbar-brand" [routerLink]="['/home']">
			<img src="../assets/img/opencity-logo.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
			OpenCity
		</a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#" [routerLink]="['/contacts']" [routerLinkActive]="['active']">Contacts</a>
				</li>
				
			</ul>

			<div *ngIf="token == null else loggedInBlock">
				<button class="btn btn-outline-primary" [routerLink]="['/login']">Login</button>
				<button class="btn btn-outline-primary" [routerLink]="['/signup']">Signup</button>
			</div>

			<ng-template #loggedInBlock>
				<ul class=" navbar-nav mb-2 mb-lg-0 d-flex">
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/profile']">
							<i class="bi bi-person-circle" style="font-size: 1.3rem;"></i>
						</a>
					</li>
					<li class="nav-item">
						<button class="btn btn-outline-danger" (click)="logout()">Logout</button>
					</li>
				</ul>
			</ng-template>
	
		</div>
	</div>
</nav>

<router-outlet></router-outlet>