<nav class="navbar navbar-expand-lg " style="background-color: #D9EAFB;">
	<div class="container-fluid">
		<!-- e3f2fd bg-body-tertiary -->
		<a class="navbar-brand" [routerLink]="['/home']">
			<img src="../assets/img/opencity-logo-nobg.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
			OpenCity
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="nav-item">
					<a class="nav-link" aria-current="page" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#" [routerLink]="['/contacts']" [routerLinkActive]="['active']">Contacts</a>
				</li>

			</ul>

			<div class="d-flex" *ngIf="!this.authenticated">
				<button class="btn btn-primary me-2" [routerLink]="['/login']">Login <i class="bi bi-box-arrow-in-right"></i></button>
				<button class="btn btn-outline-primary" [routerLink]="['/signup']">Signup <i class="bi bi-person-fill-add"></i></button>
			</div>

			<div *ngIf="authenticated">
				<ul class=" navbar-nav mb-2 mb-lg-0 d-flex">
					<li class="nav-item">
						<button class="btn btn-outline-primary me-2" [routerLink]="['/user', userId]"><i class="bi bi-person-circle"></i></button>
					</li>
					<li class="nav-item">
						<button class="btn btn-outline-danger" (click)="logout()"><i class="bi bi-box-arrow-in-left"></i></button>
					</li>
				</ul>
			</div>

		</div>
	</div>
</nav>

<router-outlet></router-outlet>


<div class="container mt-3">
	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
		<p class="col-md-4 mb-0 text-muted">© 2024 OpenCity</p>

		<a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
			<img src="../../../../assets/img/opencity-logo-nobg.png" width="50" alt="App Logo" >
		</a>

		<ul class="nav col-md-4 justify-content-end">
			<li class="nav-item"><a [routerLink]="['/home']" class="nav-link px-2 text-muted">Home</a></li>
			<li class="nav-item"><a [routerLink]="['/contacts']" class="nav-link px-2 text-muted">Contacts</a></li>
		</ul>
	</footer>
</div>

