<!-- Pagina di assitenza e contatti -->

<div class="container">

	<div class="text-center py-5">
		<h1 class="mt-2">Contacts</h1>
	</div>

	<div class="mb-3">
		<p>At the heart of every community lies the need for efficient and careful management.
			Our commitment is to provide essential tools and support to facilitate this process.
			Through innovative solutions and a dedicated assistance service, we are dedicated to optimizing municipal
			operations.
			We want to contribute to build stronger, connected and prosperous communities, making resources and
			technologies
			available to everyone.
		</p>
	</div>

	<div class="row mt-5">
		<div class="col-md-6">
			<h4>Contact us!</h4>
			<div class="mt-4">
				<h5>Gestore piattaforma</h5>
				<h6><i class="bi bi-person"></i> Simone Morello</h6>
				<h6><i class="bi bi-envelope" style="padding-right: 5px"></i> <a href="mailto:simone.morello@opencity.com">simone.morello@opencity.com</a>
				</h6>
				<h6><i class="bi bi-telephone"></i> +39 3455816148</h6>
			</div>
		</div>

		<div class="col-md-6">
			<h4>Write to us!</h4>
			<div class="form-group mb-3">
				<label for="name">Title</label>
				<input type="text" class="form-control" id="title" formControlName="title"
					   placeholder="Write the title of your message">
			</div>

			<div class="form-group mb-3">
				<label for="name">Description</label>
				<textarea type="text" class="form-control" id="description" formControlName="description"
						  placeholder="Describe what you want to tell us"></textarea>
			</div>
			<button type="button" class="btn btn-outline-primary">Send</button>
		</div>
	</div>
</div>
