<!-- Pagina di assitenza e contatti -->

<div class="container">

	<div class="text-center py-5">
		<h1 class="mt-2">Contatti</h1>
	</div>

	<div class="mb-3">
		<p>Al centro di ogni comunità c’è la necessità di una gestione efficiente e attenta. Il nostro impegno è fornire strumenti e supporto essenziali per facilitare questo processo.
			Attraverso soluzioni innovative e un servizio di assistenza dedicato, ci dedichiamo all'ottimizzazione comunale
			operazioni. Vogliamo contribuire a costruire comunità più forti, connesse e prospere, creando risorse e
			tecnologie a disposizione di tutti.
		</p>
	</div>

	<div class="row mt-5">
		<div class="col-md-6">
			<h4>Contattaci!</h4>
			<div class="mt-4">
				<h5>Gestore piattaforma</h5>
				<h6><i class="bi bi-person"></i> Simon Morello</h6>
				<h6><i class="bi bi-envelope" style="padding-right: 5px"></i> <a href="mailto:simone.morello@opencity.com">simone.morello@opencity.com</a>
				</h6>
				<h6><i class="bi bi-telephone"></i> +39 3455816148</h6>
			</div>
		</div>

		<div class="col-md-6">
			<h4>Scrivici!</h4>
			<div class="form-group mb-3">
				<label class="form-label" for="title">Titolo</label>
				<input type="text" class="form-control" id="title" formControlName="title" placeholder="Scrivi il titolo del messaggio">
			</div>

			<div class="form-group mb-3">
				<label class="form-label" for="description">Descrizione</label>
				<textarea type="text" class="form-control" id="description" formControlName="description" placeholder="Cosa vuoi dirci?"></textarea>
			</div>
			<button type="button" class="btn btn-outline-primary">Invia</button>
		</div>
	</div>
</div>
