<div class="container">
	<div class="text-center py-5">
		<h2>OpenCity</h2>
		<p class="lead">You too can contribute to enhancing your territory!</p>
		
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Search city" (input)="onSearch($event)">
		</div>

		<ul class="list-group" *ngIf="searching && citiesFiltered.length > 0">
			<li class="list-group-item" *ngFor="let city of citiesFiltered">
				<a [routerLink]="['/city', city.id]">{{ city.name }}</a>
			</li>
		</ul>
		
		<app-osm-map
			[centerCoordinates]="[43.221068, 12.474085]"
			[zoomLevel]="8"
			[cities]="this.cities"
		></app-osm-map>
		
	</div>
</div>
