<div class="container mt-5">

	<ng-container *ngIf="!api.auth.authenticated">
		<div class="alert alert-warning" role="alert">
			Errore 401: non sei autenticato!
		</div>
	</ng-container>

	<ng-container *ngIf="api.auth.authenticated">

		<ng-container *ngIf="!city">
			<div class="alert alert-danger" role="alert">
				Errore 404: questa città non esiste!
			</div>
			<a [routerLink]="['../../']">Torna alla home</a>
		</ng-container>

		<ng-container *ngIf="city">

			<!--<ng-container *ngIf="api.auth.userRoleForCity(city.id!)">
				<div class="alert alert-warning" role="alert">
					Error 403: you do not have the necessary permissions for this.
				</div>
			</ng-container>-->

			<h2>Proponi contenuto per {{ point!.name }}</h2>

			<form [formGroup]="form">
				<div class="form-group mb-4">
					<label class="form-label" for="title">Titolo </label>
					<input type="text" class="form-control" id="title" formControlName="title" placeholder="Un titolo esplicativo del contenuto." required>
					<div class="form-text" id="titleHelp">Massimo 50 caratteri.</div>
				</div>

				<div class="form-group mb-4">
					<label class="form-label" for="description">Description </label>
					<textarea class="form-control" id="description" formControlName="description" rows="5" placeholder="Una breve descrizione del contenuto." aria-describedby="descriptionHelp" required></textarea>
					<div class="form-text" id="descriptionHelp">Massimo 300 caratteri.</div>
				</div>

				<div class="form-group mb-3">
					<label class="form-label" for="media-url">URL dell'immagine </label>
					<div class="input-group mb-3" id="image-url">
						<span class="input-group-text"><i class="bi bi-link-45deg"></i></span>
						<input type="text" class="form-control" id="media-url" formControlName="mediaUrl" placeholder= "Link a un'immagine rappresentativa del contenuto." required>
					</div>

					<div class="accordion" id="previewAccordion">
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<i class="bi bi-card-image"></i>&nbsp;Anteprima immagine
								</button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<img [src]="form.get('mediaUrl')?.value" class="img-fluid">
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="form-group mb-4">
					<label class="form-label" for="contest">Vuoi candidare il contenuto per un contest di {{ city.name }}? </label>
					<div class="d-flex align-items-center" *ngIf="!city.contests">
						<strong role="status">Caricamento contest...</strong>
						<div class="spinner-border ms-auto" aria-hidden="true"></div>
					</div>
					<select class="form-select" id="contest" formControlName="contestId" *ngIf="city!.contests">
						<option *ngFor="let contest of city!.contests" [value]="contest.id">{{ contest.title }} (closes on {{ contest.closingDate }})</option>
					</select>
				</div>

				<div class="btn-group" role="group">
					<button type="button" class="btn btn-outline-danger" [routerLink]="['../']">Annulla</button>
					<button type="button" class="btn btn-primary" (click)="createContent()" [disabled]="form.invalid">Proponi Contenuto</button>
				</div>
			</form>

		</ng-container>
	</ng-container>

</div>

