
<div class="container mt-5">

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
			<li class="breadcrumb-item"><a [routerLink]="['/city', city?.id]">{{city?.name}}</a></li>
			<li class="breadcrumb-item active">Create Content</li>
		</ol>
	</nav>

	<h2>Create content for {{city?.name}}</h2>
</div>

<body>
  <div class="container">
    <div class="mb-3">
      <label for="titolo">Titolo*</label>
      <input type="text" class="form-control" id="titolo" placeholder="Inserisci il titolo del contenuto">
    </div>

    <div class="mb-3">
      <label for="contenuto">Contenuto</label>
      <textarea class="form-control" id="contenuto" rows="5" placeholder="Inserisci il contenuto del tuo contenuto"></textarea>
    </div>
          
    <button type="submit" class="btn btn-primary">Crea</button>
        
      
    

    
  </div>
</body>

