
<h1> funzia </h1>

<!-- CreateContent component da fare-->
<!-- <p>create-content works!</p>
<title>OpenCity - Crea Contenuto</title>

<body>
  <div class="container">
    <header class="mb-3">
      <h1>OpenCity</h1>
      <h2>Crea Contenuto</h2>
    </header>

    <main class="row">
      <div class="col-md-8">
        <form action="#">
          <div class="mb-3">
            <label for="titolo">Titolo</label>
            <input type="text" class="form-control" id="titolo" placeholder="Inserisci il titolo del contenuto">
          </div>
          <div class="mb-3">
            <label for="contenuto">Contenuto</label>
            <textarea class="form-control" id="contenuto" rows="5" placeholder="Inserisci il contenuto del tuo contenuto"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Crea</button>
        </form>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Categorie</strong>
          </li>
          <li class="list-group-item">
            <a href="#">Notizie</a>
          </li>
          <li class="list-group-item">
            <a href="#">Eventi</a>
          </li>
          <li class="list-group-item">
            <a href="#">Annunci</a>
          </li>
        </ul>
      </div>
    </main>

    <footer>
      &copy; 2023 OpenCity
    </footer>
  </div>
</body>
-->
