<div class="container mt-5">

	<ng-container *ngIf="!contest">
		<div class="alert alert-danger" role="alert">
			Errore 404: questo contest non esiste!
		</div>
		<a [routerLink]="['../../']">Torna alla città</a>
	</ng-container>

	<ng-container *ngIf="contest && author">

		<h2>{{ contest.title }}</h2>
		<h6>Pubblicato il {{ contest.publicationDate }} da <a [routerLink]="['/user', author.id]">{{author.username}}</a></h6>
		<h6>Chiuderà il {{ contest.closingDate }}</h6>

		<p>{{ contest.description }}</p>

		<div class="countdown" data-mdb-countdown-init="2024-01-01T12:00:00Z,2024-12-31T23:59:59Z" data-mdb-countdown-on-finish="function() { alert('Il conto alla rovescia è terminato!');}">

		</div>
			<ng-container *ngIf="api.auth.authenticated">
				<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2">Elimina <i class="bi bi-trash"></i></button>

				<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Attenzione!</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">Sei sicur* di eliminare questo contenuto?</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteContest()">Elimina</button>
						</div>
					</div>
					</div>
				</div>

			</ng-container>


		<div *ngIf="contents" class="mt-4">

			<h5>Contenuti Proposti</h5>

			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Cerca contenuti..." [(ngModel)]="searchQuery" (input)="searching = true" (focusout)="searching = false">
			</div>

			<div class="row">
				<div class="col-lg-4 mb-4" *ngFor="let content of contents; let i = index">
					<div class="card">
						<img src="{{ content.mediaUrl }}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ content.title }}</h5>
							<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
							<a class="card-link" [routerLink]="['../../', 'points', content.pointId, 'contents', content.id]">Dettagli</a>
						</div>
					</div>
				</div>
			</div>

			<div class="mt-5 text-center" *ngIf="contents.length == 0" >
				<p>Non è stato proposto ancora nessun contenuto per questo contest.</p>
			</div>

		</div>

	</ng-container>

</div>
