<div class="points-of-interest">
	<div class="row mt-3">
		<div class="col-md-6">
			<div class="d-grid gap-2">
				<button class="btn btn-outline-primary btn-lg" type="button" [routerLink]="['/city', cityId, 'create-content']">Create content</button>
			</div>
		</div>

		<div class="col-md-6">
			<div class="d-grid gap-2">
				<button class="btn btn-outline-primary btn-lg" type="button"  [routerLink]="['/city', cityId, 'create-poi']">Create point of interest</button>
			</div>
		</div>
	</div>

	<app-osm-map
			[centerCoordinates]="[city!.longitude, city!.latitude]"
			[zoomLevel]="14"
			[items]="this.points!"
			[isForCity]="false"
			[cityId]="city!.id"
		></app-osm-map>
</div>
