<div class="container mt-5">

	<ng-container *ngIf="!api.auth.authenticated">
		<div class="alert alert-warning" role="alert">
			Error 401: you are not authenticated.
		</div>
	</ng-container>

	<ng-container *ngIf="api.auth.authenticated">

		<ng-container *ngIf="!city">
			<div class="alert alert-danger" role="alert">
				Error 404: that city does not exist.
			</div>
			<a [routerLink]="['../../']">Back to the home</a>
		</ng-container>

		<ng-container *ngIf="city">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
					<li class="breadcrumb-item"><a [routerLink]="['/city', city.id]">{{ city.name }}</a></li>
					<li class="breadcrumb-item active">Propose Contest</li>
				</ol>
			</nav>

			<h2>Propose a contest for {{ city.name }}</h2>

			<form [formGroup]="form">
				<div class="mb-4">
					<label class="form-label" for="title">Title </label>
					<input type="text" class="form-control" id="title" placeholder="A title for the contest" formControlName="title" required>
				</div>

				<div class="mb-4">
					<label class="form-label" for="description">Description </label>
					<textarea class="form-control" id="description" rows="4" placeholder="A description of the contest" formControlName="description" required></textarea>
				</div>

				<div class="mb-4">
					<label class="form-label" for="closingDate">Closing date </label>
					<input id="closingDate" class="form-control" type="date" formControlName="closingDate">
				</div>

				<div class="btn-group" role="group">
					<button type="button" class="btn btn-outline-danger" [routerLink]="['../']">Cancel</button>
					<button type="button" class="btn btn-primary" (click)="createContest()" [disabled]="form.invalid">Propose contest</button>
				</div>
			</form>

		</ng-container>


	</ng-container>


</div>
