<!-- city-detail.component.html -->
<div class="container mt-5">

	<ng-container *ngIf="!city">
		<div class="alert alert-danger" role="alert">
			Errore 404: questa città non esiste!
		</div>

		<a [routerLink]="['../../']">Torna alla home</a>

		<div class="spinner-border" role="status">
			<span class="visually-hidden">Caricamento in corso...</span>
		</div>
	</ng-container>

	<ng-container *ngIf="city">

		<h1>{{ city.name }}</h1>

		<!--<p>
			<i class="bi bi-person-fill"></i>
			<span>&nbsp;</span>
			<a [routerLink]="['/home']"><i class="bi bi-question-circle"></i></a>
			Your role: <strong>tourist</strong>
		</p>-->

		<ul class="nav nav-tabs mt-4 mt">
			<li class="nav-item">
				<a class="nav-link" [class.active]="activeTab === 'pointsOfInterest'" (click)="setActiveTab('pointsOfInterest')">Punti di Interesse</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [class.active]="activeTab === 'areas'" (click)="setActiveTab('areas')">Aree</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [class.active]="activeTab === 'contests'" (click)="setActiveTab('contests')">Contest</a>
			</li>
		</ul>

		<div class="tab-content mt-3">
			<!-- Points of Interest Tab -->
			<div class="tab-pane" id="pointsOfInterest" [ngClass]="{ 'active':activeTab === 'pointsOfInterest'}">
				<app-points-of-interest ></app-points-of-interest>
			</div>

			<!-- Areas Tab -->
			<div class="tab-pane" id="areas" [ngClass]="{ 'active':activeTab === 'areas'}">
				<app-areas-list></app-areas-list>
			</div>

			<!-- Contests Tab -->
			<div class="tab-pane " id="contests" [ngClass]="{ 'active':activeTab === 'contests'}">
				<app-contest-list></app-contest-list>
			</div>
		</div>
	</ng-container>
</div>
