
<div class="container">

	<ng-container *ngIf="!city">
		<div class="alert alert-danger" role="alert">
			Error 404: that city does not exist.
		</div>
	</ng-container>

	<ng-container *ngIf="city">
		<div class="row">
			<div class="col-lg-4 mb-4" *ngFor="let contest of city.contests; let i = index">

				<div class="card">

					<div class="card-body">
						<h5 class="card-title">{{ contest.title }}</h5>
						<p class="card-truncate-text">{{ contest.description }}</p>
						<p class="card-text"><small class="text-body-secondary">Closes on {{ contest.closingDate }}</small></p>
						<a [routerLink]="['/city', city.id, 'contests', contest.id]" class="card-link">View contest</a>
					</div>
				</div>
				<div *ngIf="!city || city.contests">
					<p>No areas available.</p>
				</div>

			</div>
		</div>

		<ng-container *ngIf="api.auth.authenticated">
			<div class="d-grid gap-2">
				<button class="btn btn-outline-primary btn-lg" type="button" [routerLink]="['/city', city.id, 'create-contest']"><i class="bi bi-plus"></i> Suggest a new contest</button>
			</div>
		</ng-container>

	</ng-container>

</div>


