<div class="container mt-5">
	<ng-container *ngIf="!content">
		<div class="alert alert-danger" role="alert">
			Errore 404: questo contenuto non esiste!
		</div>
		<a [routerLink]="['../../']">Torna al punto</a>
	</ng-container>

	<ng-container *ngIf="content">

		<h2>{{ content.title }}</h2>
		<h6>Pubblicato il {{ content.publicationDate }} da <a [routerLink]="['/user', user?.id]">{{this.user?.username}}</a></h6>

		<div class="row">
			<div class="col-sm-6">
				<p>{{ content.description }}</p>

				<div class="btn-group" role="group" aria-label="Basic example">



					<ng-container *ngIf="api.auth.authenticated">
						<button type="button" class="btn btn-outline-primary">Aggiungi Preferito <i class="bi bi-bookmark-heart"></i></button>
						<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1">Elimina <i class="bi bi-trash"></i></button>

						<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
								<h1 class="modal-title fs-5" id="exampleModalLabel">Attenzione!</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">Sei sicur* di eliminare questo contenuto?</div>
								<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
								<button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteContent()">Elimina</button>
								</div>
							</div>
							</div>
						</div>

					</ng-container>

					<button type="button" class="btn btn-outline-danger">Segnala <i class="bi bi-exclamation-octagon-fill"></i></button>
				</div>
			</div>

			<div class="col-sm-6">
				<img class="content-image img-fluid" src="{{ content.mediaUrl }}" alt="Content Image">
			</div>
		</div>

	</ng-container>


</div>
