<!-- city-detail.component.html -->


<div class="card" style="width: 15rem;">
	<div class="card-body">
	  <h5 class="card-title">In this city you are:</h5>
	  <p class="card-text">ANIMATOR</p>
	  <a href="#" class="card-link">Consult your roles</a>
	</div>
  </div>

<div class="container mt-5">


	<h1>{{ city?.name }}</h1>	
	
	<ul class="nav nav-tabs mt-4 mt">
		<li class="nav-item">
			<a class="nav-link" [class.active]="activeTab === 'pointsOfInterest'" (click)="setActiveTab('pointsOfInterest')">Points of Interest</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [class.active]="activeTab === 'areas'" (click)="setActiveTab('areas')">Areas</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [class.active]="activeTab === 'contests'" (click)="setActiveTab('contests')">Contests</a>
		</li>
	</ul>
	
	<div class="tab-content mt-3">
		<!-- Points of Interest Tab -->
		<div class="tab-pane" id="pointsOfInterest" [ngClass]="{ 'active':activeTab==='pointsOfInterest'}">
			<app-points-of-interest></app-points-of-interest>
		</div>
		
		<!-- Areas Tab -->
		<div class="tab-pane" id="areas" [ngClass]="{ 'active':activeTab==='areas'}">
			<app-areas></app-areas> 
		</div>
		
		<!-- Contests Tab -->
		<div class="tab-pane " id="contests" [ngClass]="{ 'active':activeTab==='contests'}">
			<app-contests></app-contests> 

		</div>
	</div>
	
</div>
